/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

h1 {
  margin: 40px;
  text-align: center;
  font-size: 175%;
}

.element {
  background-color: gray; 
  margin: 10px;
  padding: 0px 0px;
  border: 1px solid black;
}

.top {
  font-size: 125%;
  font-weight: bolder;
  width: 30%;
  float: right;
  padding: 5px 0px;
  text-align: center;
  border: 1px solid black;
}

#chicken {
  color: black;
  background-color: #f97583;
}

#beef {
  color: white;
  background-color: #86181d;
}

#sushi {
  color: black;
  background-color: #ffea7f;
}

.foralignment {
  clear: right;
  width: 100%;
  padding: 10px;
}

/********** Desktop version**********/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    margin: 0px 0px;
    width: 33.33%;
  }
}

/********** Tablet version **********/
@media (min-width: 768px) and (max-width: 991px){
  .col-md-6, .col-md-12 {
    float: left;
    margin: 0px 0px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/********** Mobile version **********/
@media (max-width: 767px){
  .col-md-12 {
    float: none;
    margin: 0px 0px;
    width: 100%;
  }
}
